.no-select {
  pointer-events: none;
  user-select: none;
}

// Duplicate Stripe's disabled color
.form-control:disabled,
.form-control[readonly] {
  background-color: rgba(26, 26, 26, .1);
}

.pay-container {
  background-color: #fff;
}

@media (min-width: 1200px) {
  .pay-container {
    max-width: 33vw;
  }
}
