<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>DAZSER Payment Portal</title>

  <!-- Favicons -->
  <link rel="icon" type="image/png" href="https://pay.dazser.com/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="https://pay.dazser.com/favicon-128x128.png" sizes="128x128" />
  <link rel="icon" type="image/png" href="https://pay.dazser.com/favicon-152x152.png" sizes="152x152" />
  <link rel="icon" type="image/png" href="https://pay.dazser.com/favicon-167x167.png" sizes="167x167" />
  <link rel="icon" type="image/png" href="https://pay.dazser.com/favicon-180x180.png" sizes="180x180" />
  <link rel="icon" type="image/png" href="https://pay.dazser.com/favicon-192x192.png" sizes="192x192" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/1976a0f246.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/main.min.css">
  <script>
    // If there is no exports variable, create it. This is to allow TS code to run
    if (!exports) { var exports = {}; }
  </script>

  <!-- This is the Stripe JS file -->
  <script type="text/javascript" src="https://js.stripe.com/v3/"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=fetch"></script>
</head>

<body class="bg-light">

  {{{body}}}

</body>

<script>
  (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
  function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
  e=o.createElement(i);r=o.getElementsByTagName(i)[0];
  e.src="https://www.google-analytics.com/analytics.js";
  r.parentNode.insertBefore(e,r)}(window,document,"script","ga"));
  ga("create","{{analytics.key}}");ga("send","pageview");
</script>

</html>
